@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #040404;
  font-family: "Raleway", sans-serif;

}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

.animated-slideInLeft {
  animation: slideInLeft 3s ease-in-out;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

.animated-slideInRight {
  animation: slideInRight 3s ease-in-out;
}

@keyframes slideInTop {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

.animated-slideInTop {
  animation: slideInTop 1s ease-out;
}

@keyframes slideInBottom {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

.animated-slideInBottom {
  animation: slideInBottom 0.5s ease-in;
}

h1,
h2 {
  font-family: "Anton", sans-serif;
  /* increase space between words */
  letter-spacing: 1px;
}